.btn {
	background-color: $base-color;
	color: $white;
	font-size: 18px;
	font-weight: $medium;
	padding: 8px 16px;
	border: 0;
	display: inline-block;
	text-transform: capitalize;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: darken($base-color, 5%);
		color: $white;
	}
}

.lg-btn {
	background-color: $base-color;
	color: $white;
	font-size: 20px;
	font-weight: $medium;
	padding: 10px 18px;
	border: 0;
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	&:hover,
	&:focus {
		background-color: darken($base-color, 5%);
		color: $white;
	}
}